.form-group#form-text-color
  = bootstrap_form_for @task, remote: true, url: {action: "create"} do |f|
    = collection_select( :task, :status_id, ::Status.all, :id, :status_id, {}, { :multiple => false } )
    %br/
    = collection_select( :task, :context_id, ::Context.all, :id, :context_id, {}, { :multiple => false } )
    %br/
    = collection_select( :task, :project_phase_id, ::ProjectPhase.all, :id, :name, {}, { :multiple => false } )
    %br/
    = collection_select( :task, :review_period_id, ::ReviewPeriod.all, :id, :review_period_id, {}, { :multiple => false } )
    %br/
    = collection_select( :task, :priority_id, ::Priority.all, :id, :priority_id, {}, { :multiple => false } )
    %p
    = f.text_field :name
    = f.text_area :description, size: "10x5"
    = f.datetime_field :due_date
    = f.text_field :link
    %br
    = f.submit "Create"
%button.close-form-btn.btn.btn-primary Back

:javascript
  $(document).ready( function() {
    $(".close-form-btn").click( function() {
      $('#task-form').slideUp(250);
      $("#form-title").delay(250).slideUp(50);
      $(".nav-list").delay(300).slideDown(100);
      $("#new_link").delay(400).slideDown(50);
    });
  });
