= render "shared/navbar"
.col-md-9.content-col#full-height
  %p#notice= notice
  %h3= @ascending
  %h3= @sort_direction
  %h3 Tasks
  %table.table{ :align => "right"}
    %thead
      %tr
        %th.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Name
          %ul.dropdown-menu
            %li= link_to "Ascending", {:ascending => true}, {:class => "direction-asc"}
            %li= link_to "Descending", {:ascending => false}, {:class => "direction-desc"}
            %li= sort_column_gen("name")
            %li= sort_column_gen("description")
        %th.sortable Description
        %th.sortable Due_date
        %th.sortable Context
        %th.sortable Priority
        %th.sortable Status
        /%th=sortable "review_period", "Review Period"
        /%th=sortable "project_phase", "Project Phase"
    %tbody
      - @tasks.each do |task|
        %tr.task
          %td= task.name
          %td= task.description
          %td= task.due_date.try(:strftime, "%e.%-m.%Y")
          %td= task.context_id
          %td= task.priority_id
          %td= task.status_id
