= render "shared/navbar"
.col-md-9.content-col#full-height
  .row
    .col-6
      %p.notice= notice
      %p.alert= alert
      %p= "@ascending = #{@ascending}"
      %h3p= "@sort_direction = #{@sort_direction}"
    .col-6
      - if current_user
        .btn.btn-default.float-right= link_to "Log Out", destroy_user_session_path, method: :delete
      - else
        .btn.btn-default.float-right= link_to "Register", new_user_registration_path
        .btn.btn-default.float-right= link_to "Log In", new_user_session_path
  %h3 Tasks
  %table.table{ :align => "right"}
    %thead
      %tr
        %th.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Name
          %ul.dropdown-menu
            %li= link_to "Ascending", {:ascending => true}, {:class => "direction-asc"}
            %li= link_to "Descending", {:ascending => false}, {:class => "direction-desc"}
            %li= sort_column_gen("name")
            %li= sort_column_gen("description")
        %th.sortable Description
        %th.sortable Due_date
        %th.sortable Context
        %th.sortable Priority
        %th.sortable Status
        /%th=sortable "review_period", "Review Period"
        /%th=sortable "project_phase", "Project Phase"
    %tbody
      - @tasks.each do |task|
        -if task.active?
          %tr.task
            %td= task.name
            %td= task.description
            %td= task.due_date.try(:strftime, "%e.%-m.%Y")
            %td= task.context_id.titleize
            %td= task.priority_id.titleize
            %td= task.status_id.titleize
