= render "shared/navbar"
.col-md-9.content-col#full-height
  %p#notice= notice
  %h3 Tasks
  %table.table{ :align => "right"}
    %thead
      %tr
        %th.sortable=sortable "name"
        %th.sortable=sortable "description"
        %th.sortable=sortable "due_date"
        %th.sortable=sortable "context"
        %th.sortable=sortable "priority"
        %th.sortable=sortable "status"
        /%th=sortable "review_period", "Review Period"
        /%th=sortable "project_phase", "Project Phase"
    %tbody
      - @tasks.each do |task|
        -if task.status.status_id == "Active" then
          %tr.task
            %td= task.name
            %td= task.description
            %td= task.due_date.try(:strftime, "%e.%-m.%Y")
            %td= task.context.context
            %td= task.priority.priority_id
            %td= task.status.status_id
            /%td= task.review_period.review_period_id
            /%td= task.project_phase.name
            /%td= link_to 'Edit', edit_task_path(task)
            /%td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }
