%p#notice= notice
%p
  %strong Name:
  = @task.name
%p
  %strong Description:
  = @task.description
%p
  %strong Due date:
  = @task.due_date
%p
  %strong Link:
  = @task.link
%p
  %strong Attachment:
  = @task.attachment
= link_to 'Edit', edit_task_path(@task)
= link_to 'Back', tasks_path
