%h2.title= @project.name
%p#notice= notice
%p= @project.description
%hr
%h2 Project Phases:
- ::ProjectPhase.by_project(params[:id]).each do |project_phase|
  %td= project_phase.name
  %th= project_phase.description
