%h1 Listing project_phases

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @project_phases.each do |project_phase|
      %tr
        %td= project_phase.name
        %td= project_phase.description
        %td= link_to 'Show', project_phase
        %td= link_to 'Edit', edit_project_phase_path(project_phase)
        %td= link_to 'Destroy', project_phase, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Project phase', new_project_phase_path
