= render "shared/navbar"
.col-md-9.content-col#full-height
  =render "shared/login-notice"
  %h3 Project Phases

  %table.table{ :align => "right"}
    %thead
      %tr
        %th Name
        %th Description
        %th

    %tbody
      - @project_phases.each do |project_phase|
        %tr
          %td= project_phase.name
          %td= project_phase.description
          %td
            = link_to 'Show', project_phase
            = link_to 'Edit', edit_project_phase_path(project_phase)
            = link_to 'Destroy', project_phase, :method => :delete, :data => { :confirm => 'Are you sure?' }
